<mat-toolbar class="header">
<mat-toolbar-row >
    <button mat-stroked-button class="identification2" [routerLink]="['/']" *ngIf="isloggedin" (click)="logoff()">Identification</button>
  <span class="example-spacer"></span>
  <webcam [height]="1" [width]="2" [trigger]="triggerObservable" (imageCapture)="handleImage($event)"> </webcam>
  
  <form #customLoadingTemplate>
  <button mat-stroked-button class="identification" (click)="login(image64)" type="submit" *ngIf="!isloggedin">S'identifier</button>
</form>
<ngx-loading [show]="loading" [config]="{animationType: ngxLoadingAnimationTypes.wanderingCubes, primaryColour: primaryColour, secondaryColour: secondaryColour, backdropBorderRadius: '3px'}" [template]="customLoadingTemplate"></ngx-loading>
</mat-toolbar-row>
</mat-toolbar>