
<app-header></app-header>
<div class="Cam">

  <div>
    <webcam [height]="1200" [width]="1000" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [videoOptions]="videoOptions" (initError)="handleInitError($event)"></webcam>
    <br />
    <button class="actionBtn" (click)="triggerSnapshot();">Take A Snapshot</button>
    <button class="actionBtn" (click)="toggleWebcam();">Toggle Webcam</button>
  </div>
</div>

<div class="snapshot" *ngIf="webcamImage">
  <h2>Photo Prise!</h2>
  <img [src]="webcamImage.imageAsDataUrl"/>
  <button mat-raised-button color="warn">retake</button>
</div>
