<div class="Cam">

  <div>
    <webcam  class="webcam" [height]="600" [width]="600" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
      [videoOptions]="videoOptions" (initError)="handleInitError($event)"></webcam>
      <img [src]="webcamImage.imageAsDataUrl" class="snapshot" *ngIf="webcamImage" />
  </div>

  <button mat-raised-button color="warn" (click)="triggerSnapshot();"><i class="material-icons">photo_camera</i></button>
  <button mat-raised-button color="primary" class="actionBtn" (click)="triggerSnapshot();"><i class="material-icons">photo_camera</i></button>
  <button mat-raised-button color="primary" class="actionBtn" (click)="toggleWebcam();"><i class="material-icons">toggle_on</i></button>