<mat-card class="userPicture">
  <mat-card-header>
    <mat-card-title>{{User.FirstName}} {{User.LastName}}</mat-card-title>
    <mat-card-subtitle>{{User.Email}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src={{User.ImageUrl.imageUrl}} alt="Photo de profil">
  <mat-card-content>
    <p>
      Dernier Emprunt : {{User.Visited | date : 'dd/MM/yyyy h:mm'}}
    </p>
  </mat-card-content>
</mat-card>



<mat-card>
  <mat-selection-list #tool (selectionChange)="onSelectionChange()">
    <mat-list-option *ngFor="let tool of toolList" [value]= "tool">
      {{tool.name}}
    </mat-list-option>
  </mat-selection-list>
  <button mat-raised-button class="emprunter" (click)="posttools()">
    <mat-icon  matBadgeOverlap="false" matBadge="{{tool.selectedOptions.selected.length}}" MatBadgeSize='medium' matBadgeColor="warn">shopping_cart</mat-icon>
  </button>
</mat-card>