@import url('https://fonts.googleapis.com/css?family=Rajdhani');
//ANIMATION

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.anim {
  width: 50px;
  height: 50px;
  position: relative;
  animation: loading-rotation 5s linear infinite;
  border: solid 1px #c62828;
  border-radius: 50%;
  margin: 20px;
}
@media only screen and (min-width: 768px) {
  .anim {
    width: 75px;
    height: 75px;
    margin: 30px;
  }
}

@keyframes loading-rotation {
  50% {border-color: #1565c0;}
  100% {transform: rotate(360deg);}
}

.anim div {
  height: 10px;
  width: 10px;
  position: absolute;
  top: 0;
  left: 0;
  background: #c62828;
  border-radius: 50%;
  animation: loading-planet 5s linear infinite;
}
@media only screen and (min-width: 768px) {
  .anim div {
    height: 25px;
    width: 25px;
  }
}

@keyframes loading-planet {
  50% {background: #1565c0;}
}

.text {
  font-family: 'Rajdhani', sans-serif;
  font-size: 64px;
  font-weight: bold;
  letter-spacing: 0.2em;
  color: #c62828;
  animation: loading-text 5s linear infinite;
}
@media only screen and (min-width: 768px) {
  .text {
    font-size: 90px;
    letter-spacing: 0.3em;
  }
}

@keyframes loading-text {
  50% {color: #1565c0;}
}

//loancss
.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  margin-top: 20px;
}

.mat-pseudo-checkbox-checked {
  background: #379EC1;
}

.identification2 {
  background-color: #379EC1;
  margin-top: 10px;
}

.userPicture {
  max-width: 350px;
  position: relative;
  float: right;
  margin-right: 100px;
  margin-top: 10px;
  border-radius: 15px;
  width: fit-content;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
}

.emprunter{
  background-color: #379EC1;
  width: -webkit-fill-available;  
}


::ng-deep .mat-pseudo-checkbox-checked {
  background: #379EC1;
}

.mat-badge-warn .mat-badge-content {
  color: #fff;
  background: #000000;
}