.mat-card {
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
  display: block;
  position: relative;
  padding: 16px;
  border-radius: 15px;
  width: fit-content;
  margin: auto;
  margin-top: 150px;
}

.mat-pseudo-checkbox-checked {
  background: #379EC1;
}

.identification2 {
  background-color: #379EC1;
  margin-top: 10px;
}

.userPicture {
  width: 240px;
  height: 240px;
  position: relative;
  float: right;
  margin-right: 100px;
  margin-top: 10px;
}
